/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video
{
    display: block;
}
mark, rp, rt, ruby, summary, time
{
    display: inline;
}

/* Global properties ======================================================== */
html, body
{
    width: 100%;
    padding: 0;
    margin: 0;
}

body
{
    background: none repeat scroll 0 0 #EBEAEE;
    color: #333333;
    font: 12px/18px Arial,Helvetica,sans-serif;
    min-width: 990px;
    padding: 0 0 0;
    position: relative;
}
.bg
{
    background: url('../assets/images/bg.png') no-repeat scroll center 0 transparent;
    min-height: 100%;
    width: 100%;
}
.main
{
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding: 17px 0 30px;
    position: relative;
    width: 990px;
}

.headerMain
{
    background: none repeat scroll 0 0 transparent;
    margin: 0 0 1px;
    padding: 0 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.logo
{
    padding: 12px 0 0 19px;
}

.pading
{
    padding: 0 0 19px;
}
/***********************************************************************/

a
{
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    text-decoration: none;
}

.button
{
    display: inline-block;
    background: url('../assets/images/button.jpg') 0 0 repeat-x #f3f3f3;
    border: #d0d0d0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #6dbbbe;
    font-weight: normal;
    padding: 3px 23px 5px 23px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #e3e3e3;
}
.button:hover
{
    color: #fff;
    background: #8ac7ca;
    border: #76b3b6 1px solid;
}
.button-1
{
    display: inline-block;
    background: url('../assets/images/button.jpg') 0 0 repeat-x #f3f3f3;
    border: #d0d0d0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 17px;
    font-weight: normal;
    padding: 3px 15px 5px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #d9d9d9;
}

.button-2
{
    display: inline-block;
    background: url('../assets/images/button.jpg') 0 0 repeat-x #f3f3f3;
    border: #d0d0d0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 17px;
    font-weight: normal;
    padding: 3px 15px 5px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #d9d9d9;
    color: #6dbbbe;
}
.button-2:hover
{
    color: #fff;
    background: #8ac7ca;
    border: #76b3b6 1px solid;
}

.link
{
    text-decoration: underline;
    cursor: pointer;
    color: #8d8c8c;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.link:hover
{
    color: #8bc7ca;
    text-decoration: underline;
}
.link-2
{
    text-decoration: none;
    cursor: pointer;
    color: #6dbbbe;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-2:hover
{
    text-decoration: underline;
}
.link-3
{
    text-decoration: none;
    cursor: pointer;
    color: #6dbbbe;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-3:hover
{
    text-decoration: underline;
}
.link-4
{
    text-decoration: underline;
    cursor: pointer;
    color: #6dbbbe;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-4:hover
{
    text-decoration: none;
}

.color-1
{
    font-size: 17px;
    line-height: 25px;
    color: #959494;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.color-1-hover
{
    color: #fff !important;
}
.color-2
{
    font-size: 30px;
    line-height: 40px;
    color: #635c55;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.color-2 strong
{
    font-size: 22px;
    line-height: 32px;
    color: #959595;
    display: inline-block;
    margin-top: 8px;
}
.color-3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
    font-style: italic;
}
.color-4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 17px;
    color: #8c8c8c;
}
.color-5
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #635c55;
    font-weight: bold;
}
.color-6
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #8c8c8c;
}
.color-7
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #635c55;
    font-weight: bold;
}
.color-8
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    font-style: italic;
}
.color-9
{
    font-size: 18px;
    line-height: 24px;
    color: #959494;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h2
{
    font-size: 22px;
    line-height: 28px;
    color: #635c55;
    letter-spacing: -1px;
    text-transform: uppercase;
}
h3
{
    font-size: 18px;
    line-height: 24px;
    color: #959494;
    letter-spacing: -1px;
    text-transform: uppercase;
}
h4
{
    font-size: 14px;
    line-height: 20px;
    color: #56504a;
    letter-spacing: 0px;
    text-transform: uppercase;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-image: none;
}
ul.list-1 li
{
    padding: 2px 0 2px 0px;
    line-height: 18px;
}
ul.list-1 li a
{
    font-size: 14px;
    color: #8c8c8c;
    line-height: 20px;
    display: inline-block;
    background: url('../assets/images/marker-1.png') 0 2px no-repeat;
    padding-left: 27px;
}
ul.list-1 li a:hover
{
    color: #6dbbbe;
    background: url('../assets/images/marker-1.png') 0 bottom no-repeat;
    text-decoration: underline;
}

/******************************************************************/
.clear
{
    clear: both;
    line-height: 0;
    font-size: 0;
    width: 100%;
}
.wrapper
{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.extra-wrap
{
    overflow: hidden;
}
.fleft
{
    float: left;
}
.fright
{
    float: right;
}
.line_height
{
    line-height: 24px !important;
}
.img-indent
{
    float: left;
    margin: 0 24px 0px 0;
}
.img-indent-2
{
    float: left;
    margin: 0 13px 0px 0;
}
.img-indent-3
{
    float: left;
    margin: 0 20px 0px 0;
}
.img-indent-4
{
    float: left;
    margin: 0 18px 0px 0;
}
.last
{
    margin-right: 0px !important;
}

.border-shadow
{
    box-shadow: 0 0 5px rgba(218, 218, 218, 1);
    border: #fff 10px solid;
}

.left-1
{
    margin-left: 30px;
}

.right-1
{
    margin-right: 70px;
}

.top-1
{
    margin-top: 40px;
}
.top-2
{
    margin-top: 17px;
}
.top-3
{
    padding-top: 48px;
}

.bot-0
{
    padding-bottom: 0px !important;
}
.bot-1
{
    margin-bottom: 25px;
}

.pad-1
{
    padding: 52px 0 20px 0;
}

.p1
{
    padding-bottom: 24px;
}
.p2
{
    padding-bottom: 19px;
}
.p3
{
    padding-bottom: 18px;
}

.lightbox-image
{
    position: relative;
    display: inline-block;
}
.lightbox-image img
{
    position: relative;
    z-index: 2;
}
.lightbox-image span
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../assets/images/magnify.png') 50% 50% no-repeat #fff;
}

/*********************************header*************************************/
.header
{
    background: url('../assets/images/bg-row-1.png') no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EBEAEE;
    position: relative;
    width: 100%;
    min-height: 117px;
}


h1
{
    margin: 33px 0px 0px 10px;
    width: 350px;
    float: left;
}
.tooltips
{
    float: right;
    width: 84px;
    height: 16px;
    margin: 85px 71px 0 0;
}
.tooltips a
{
    margin-left: 5px;
}
a.normalTip
{
    display: inline-block;
    vertical-align: top;
}
#aToolTip
{
    position: absolute;
    display: none;
    z-index: 500;
}
#aToolTip .aToolTipContent
{
    background: #fff;
    border: #afafaf 1px solid;
    padding: 0px;
    height: 20px;
    width: 66px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #afafaf;
    display: block;
    position: absolute;
    top: -40px;
    left: 60px;
}
.tooltips a:hover img
{
    opacity: .7;
}

.nav
{
    /*  width: 938px;     margin: 0 auto;     z-index: 99; border-radius: 7px;     box-shadow: 1px 2px 3px #ededed;*/
    position: relative;
    background: url('../assets/images/nav.jpg') 0 0 repeat-x #fafafa;
    border: #fff 1px solid;
    padding: 5px 0 5px 0px;
    color: #ffffff;
}
.nav a.link-1
{
    float: left;
    margin: 16px 0 0 18px;
}


/*********************************content*************************************/
#content
{
    background: url('../assets/images/bg-content.png') no-repeat scroll center 0 #FFFFFF;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.content
{
    padding-bottom: 59px !important;
}
.slider-block
{
    width: 940px;
    height: 380px;
    padding: 20px 0 20px 0;
}

.border-radius
{
    border-radius: 7px;
    box-shadow: 1px 1px 3px #d9d9d9;
}
.border-radius-2
{
    border-radius: 7px;
    border: #d5d5d5 1px solid;
    background: #fff;
}
.border-radius-3
{
    border-radius: 5px;
    border: #d5d5d5 1px solid;
}
.border-radius-4
{
    background: #fcfcfc;
    border-radius: 7px;
    border: #d5d5d5 1px solid;
    box-shadow: 1px 1px 3px #ededed;
}
.border-radius-5
{
    border-radius: 7px;
}

.line-1
{
    background: #d0d0d0;
    height: 1px;
    width: 100%;
    overflow: hidden;
}

.button-3
{
    display: inline-block;
    width: 84px;
    height: 30px;
    overflow: hidden;
}
.button-3 span
{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px 10px 3px 10px;
    line-height: 17px;
    font-weight: normal;
}
.boxes a
{
    margin-right: 20px;
    display: block;
    background: #fbfbfb;
    float: left;
    width: 138px;
    padding: 25px 0 22px 0;
    text-align: center;
    border: #d0d0d0 1px solid;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #d9d9d9;
}
.boxes a p.color-1
{
    padding: 18px 0 22px 0;
}


.button-3
{
    display: inline-block;
    width: 84px;
    height: 30px;
    overflow: hidden;
}
.button-3 span
{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px 10px 3px 10px;
    line-height: 17px;
    font-weight: normal;
}
.boxes a:hover .button-3
{
    background-position: 0 bottom !important;
}


a.box-1:hover
{
    background: #71a2c5;
    border: #6a99ba 1px solid;
}
.clr-1
{
    color: #72a3c5;
    background: url('../assets/images/btn-1.png') 0 0 no-repeat;
}

a.box-2:hover
{
    background: #a1dee1;
    border: #6dbbbe 1px solid;
}
.clr-2
{
    color: #6dbbbe;
    background: url('../assets/images/btn-2.png') 0 0 no-repeat;
}

a.box-3:hover
{
    background: #c9d9a2;
    border: #a2be5c 1px solid;
}
.clr-3
{
    color: #a2be5c;
    background: url(../assets/images/btn-3.png) 0 0 no-repeat;
}

a.box-4:hover
{
    background: #e3b5b7;
    border: #d8a0a3 1px solid;
}
.clr-4
{
    color: #d8a0a3;
    background: url(../assets/images/btn-4.png) 0 0 no-repeat;
}

a.box-5:hover
{
    background: #ecc095;
    border: #dfb083 1px solid;
}
.clr-5
{
    color: #dfb083;
    background: url(../assets/images/btn-5.png) 0 0 no-repeat;
}

a.box-6:hover
{
    background: #9e9a96;
    border: #948d87 1px solid;
}
.clr-6
{
    color: #948d87;
    background: url(../assets/images/btn-6.png) 0 0 no-repeat;
}


.page-1-col-1
{
    padding: 10px 0 0 0;
}
.color-2-block p + p
{
    margin-top: -12px;
    padding-bottom: 17px;
}
.page-1-col-1 a.button
{
    margin-top: 23px;
}
.page-1-col-1 h2
{
    margin: 43px 0 27px;
}
.banners-1 a
{
    display: block;
    float: left;
    width: 106px;
    padding: 7px 0 8px 0;
    margin-right: 10px;
}
.page-1-col-2 h2
{
    margin: 10px 0 10px;
}
.page-1-col-2 a.button
{
    margin-top: 23px;
}
.page-1-col-3
{
    margin: 10px 0 0 0;
    padding: 22px 29px 0 29px;
}
.page-1-col-3 h3
{
    margin-bottom: 12px;
}
.block-1
{
    padding: 20px 0 26px 0;
    width: 205px;
}
.block-1 a.lightbox-image
{
    margin-bottom: 17px;
}
.block-1 p
{
    font-size: 12px;
    line-height: 18px !important;
}
.block-1 time
{
    font-size: 11px;
    line-height: 17px !important;
    color: #6dbbbe;
    font-style: italic;
}

.page-2-col-1
{
    padding: 0 25px 0 0;
}
.block-2
{
    padding: 21px 0 0 0;
}
.block-2 .extra-wrap
{
    padding: 9px 0 0 0;
}
.block-2 a.link-2
{
    display: inline-block;
    margin: 2px 0 17px 0;
}

.page-2-col-3
{
    padding: 65px 0 0 0;
}
.page-2-col-3 h2
{
    margin-bottom: 18px;
}
.block-3
{
    float: left;
    width: 271px;
    background: url(../assets/images/page-2-img-2.png) right 3px no-repeat;
    margin-right: 31px;
    padding-right: 86px;
}
.block-3 ul.list-1
{
    margin-top: 14px;
}
.block-4
{
    float: left;
    width: 261px;
    margin: -2px 30px 0 0;
}

.page-2-col-4
{
    padding: 57px 0 0 0;
}
.page-2-col-4 h2
{
    margin-bottom: 23px;
}
.page-2-col-4 .wrapper div
{
    float: left;
    width: 135px;
    margin-right: 17px;
}
.page-2-col-4 .wrapper img
{
    margin-bottom: 21px;
}
.page-2-col-4 .wrapper p
{
    line-height: 18px !important;
    padding-top: 2px;
}

.page-2-col-5
{
    padding: 57px 0 0 0;
}
.page-2-col-5 h2
{
    margin-bottom: 19px;
}
.page-2-col-5 p.color-6
{
    padding: 18px 0 29px 0;
}

.page-2-col-2
{
    margin: 48px 0 0 0;
    padding: 22px 29px 0 29px;
}
.page-2-col-2 h3
{
    margin-bottom: 12px;
}
.page-2-col-2 .line-1
{
    margin-bottom: 15px;
}

.page-2-col-2
{
    position: relative;
}
.page-2-col-2 div h4
{
    margin: 18px 0 0 0;
    text-align: right;
}
.page-2-col-2 div a.link-2
{
    margin: 2px 0 0 0;
    float: right;
    display: inline-block;
}

.page-3-col-1
{
    padding-right: 25px;
}
.page-3-col-1 ul.list-1
{
    margin: 17px 0 44px 0;
}
.page-3-col-1 img
{
    margin: 19px 0 26px 0;
}
.page-3-col-2 h2
{
    margin-bottom: 17px;
}
.page-3-col-2 > p
{
    margin-bottom: 28px;
}
.page-3-col-2 > .wrapper
{
    padding-bottom: 28px;
}
.block-5
{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.block-5 p.color-9
{
    padding: 2px 0 14px 0;
}
.block-5 a.button
{
    margin: 19px 0 5px 0;
}

.block-6
{
    float: left;
    width: 243px;
    margin-right: 20px;
    padding: 23px 25px 23px 30px;
}
.number
{
    border-radius: 28px;
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    color: #fff;
    margin: 0 0 0 89px;
}
.block-6 p.color-9
{
    text-align: center;
    margin: 8px 0 14px 0;
}
.block-6 ul.list-1
{
    margin: 10px 0 15px 0;
}
.block-6 a.button-2
{
    margin: 0 0 0 75px;
}
.n-1
{
    background: #a1d3d5;
}
.n-2
{
    background: #cbe098;
}
.n-3
{
    background: #e0b3b5;
}

.white
{
    color: #fff !important;
}
.block-7
{
    background: #dfb083;
    width: 215px;
    padding: 23px 26px 29px 30px;
    margin-top: 59px;
}
.block-7 p.color-9
{
    border-bottom: #fff 1px solid;
    padding-bottom: 12px;
}
.block-7 p.color-7
{
    padding: 26px 0 18px 0;
}
.block-7 a.button
{
    margin-top: 27px;
    box-shadow: 1px 1px 3px #d4a77c !important;
}
.banner-1
{
    background: url(../assets/images/banner-1.png) 0 0 no-repeat;
    width: 270px;
    height: 171px;
    overflow: hidden;
    display: block;
    margin-top: 15px;
}
.page-4-col-1
{
    margin: 51px 0 0 0;
}
.page-4-col-1 h2
{
    margin: 0 0 19px 0;
}
.page-4-col-1 .wrapper img
{
    margin-top: 4px;
}
.page-4-col-2 h2
{
    margin: 51px 0 16px 0;
}
.page-4-col-2 .wrapper
{
    padding-bottom: 15px;
}
.step
{
    font-size: 18px;
    color: #635c55;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -1px;
    width: 70px;
    float: left;
}
.page-4-col-2 .extra-wrap
{
    margin-top: 3px;
}
.page-5-col-1 h2
{
    margin-bottom: 22px;
}
.page-5-col-1 .wrapper img
{
    margin-top: 1px;
}
.page-5-col-1 .extra-wrap
{
    padding-right: 20px;
}
.page-5-col-1 p.color-6
{
    padding-top: 2px;
}
.page-5-col-1 .wrapper
{
    padding-bottom: 21px;
}
.page-5-col-2 h2
{
    margin-bottom: 19px;
}
.page-5-col-2 .wrapper
{
}
.page-5-col-2 .wrapper img
{
    margin-top: 4px;
}
.page-5-col-2 > p.color-6
{
    padding: 18px 0 0px 0;
}
.page-5-col-2 > p.color-6 > strong + strong
{
    font-weight: normal;
    color: #6dbbbe;
}
.page-6-col-1
{
    padding-right: 30px;
}
.page-6-col-1 h2
{
    margin-bottom: 19px;
}
.page-6-col-2 h2
{
    margin-bottom: 23px;
}
.page-6-col-2 .wrapper
{
    padding-bottom: 22px;
}
.block-8
{
    float: left;
    width: 190px;
    margin-right: 25px;
}
.block-8 a.link-3
{
    display: inline-block;
    margin: 15px 0 0 0;
}
.page-8-col-1 h2
{
    margin-bottom: 19px;
}
.page-8-col-1 a.link-4
{
    display: inline-block;
    margin: 18px 0 0 0;
}

/****************************footer************************/
.footer
{
    background: url('../assets/images/bg-footer.png') no-repeat scroll 0 0 transparent;
    padding: 16px 0 48px;
    position: relative;
    width: 100%;
}
.footer-menu
{
    float: left;
    padding: 0 0 0 19px;
}
.footer-menu li
{
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin-right: 17px;
}
.text-bot
{
    color: #333333;
    float: right;
    font-size: 12px;
    line-height: 18px;
    padding: 0 21px 0 0;
}
.footer-col-1
{
    float: left;
    width: 400px;
    margin-right: 240px;
}
.footer-col-1 > a
{
    margin-bottom: 26px;
    display: inline-block;
}
.footer-col-1 p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #8c8c8c;
}
.footer-col-1 p a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #8c8c8c;
    text-decoration: underline;
}
.footer-col-1 p a:hover
{
    text-decoration: none;
}
.footer-col-1 p + p + p
{
    padding-top: 13px;
}
.footer-col-1 p.color-4, .footer-col-1 p.color-4 a
{
    font-size: 11px;
    line-height: 17px;
    text-transform: uppercase;
}
.footer-col-2
{
    float: left;
    width: 300px;
    margin: 6px 0 0 0px;
}
#form-search input
{
    width: 165px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #9fa1a4;
    font-style: italic;
    border: #c6c6c6 1px solid;
    background: #f1f1f1;
    vertical-align: top;
    padding: 5px 10px 7px 8px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    border-radius: 5px;
}
.search_button
{
    display: inline-block;
    background: #8ac7ca;
    border: #76b3b6 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 3px 0px 5px 0px;
    width: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #dadada;
}
.search_button:hover
{
    color: #6dbbbe;
    background: url(../assets/images/button.jpg) 0 0 repeat-x #f3f3f3;
    border: #d0d0d0 1px solid;
}
.footer-col-2 > a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #6dbbbe;
    text-decoration: underline;
    display: inline-block;
    margin: 14px 0 0 0;
}
.footer-col-2 > a:hover
{
    text-decoration: none;
}

/**********************form**********************/
.map
{
    width: 378px;
    height: 253px;
    margin: 23px 0 0 0;
}
.map iframe
{
    width: 378px;
    height: 253px;
    border-radius: 5px;
    border: #d5d5d5 1px solid;
}
dl
{
    margin: 25px 0 0 0px;
}
dl dt
{
    padding: 0px 0 18px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #635c55;
    font-weight: bold;
}
dl dd span
{
    display: block;
    width: 73px;
    float: left;
}
dl dd
{
    font-size: 13px;
    line-height: 18px;
}
dl dd a
{
    margin-left: 13px;
}
#form
{
    margin: 23px 0 0px 0px;
    width: 510px;
}
#form input
{
    border: #c6c6c6 1px solid;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #8c8c8c;
    padding: 8px 7px 10px 8px;
    outline: medium none;
    width: 363px;
    height: 15px;
    float: left;
    border-radius: 5px;
}
#form textarea
{
    border: #c6c6c6 1px solid;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #8c8c8c;
    height: 215px;
    outline: medium none;
    overflow: auto;
    padding: 8px 0px 0px 8px;
    width: 500px;
    resize: none;
    margin: 0px 0 0 0;
    float: left;
    border-radius: 5px;
}
#form label
{
    display: block;
    min-height: 43px;
}
#form .error, #form .empty
{
    color: #FF0000;
    display: none;
    font-size: 10px;
    line-height: 14px;
    width: 125px;
    float: left;
    margin-top: 2px;
}
#form .error-empty
{
    margin: 4px 0 0 5px !important;
    display: none;
    float: left;
}
#form .success
{
    display: none;
}
.btns
{
    text-align: right;
    width: 510px;
    position: relative;
    overflow: hidden;
}
.btns a
{
    margin: 23px 2px 3px 6px;
}

/*--------------them moi-------------------------*/

ul.pack
{
    margin-left: 10px;
    margin-top: 5px;
    padding: 0;
}
ul.pack li
{
    /* background-image: url('../assets/imgs/green-check.png');     background-repeat: no-repeat;     list-style: none outside none;     padding-left: 20px;*/
    background: url("../assets/images/marker.png") no-repeat scroll 0 2px transparent;
    list-style: none outside none;
    padding-left: 20px;
    margin:5px 0 5px 0;
}
ul.pack li a
{
    color: #8C8C8C;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding-left: 27px;
}
ul.pack li a:hover
{
    color: #6dbbbe;
    text-decoration: underline;
}
.gtk td
{
    border: 1px solid #CCCCCC;
    padding: 5px;
    vertical-align: top;
    width: 50%;
}
.wd .tit
{
    color: #006B97;
    font-weight: bold;
}

ul.pack ul
{
    margin-left: 10px;
    padding: 0;
}
ul.pack li li
{
    background: none repeat scroll 0 0 transparent;
    list-style: circle outside none;
    margin-left: 10px;
    padding: 0;
}
.Avdcontent
{
    background-image: url('../assets/imgs/content_r2.gif');
    background-position: left top;
    background-repeat: repeat-x;
    padding: 20px 15px;
    border: 1px solid #eeeeee;
}
.Avdcontent .adv_d
{
    float: left;
    width: 116px;
}
.w14
{
    float: left;
    width: 24px;
}
.Avdcontent .adv_d
{
    float: left;
    width: 116px;
}
.Avdcontent span
{
    display: block;
    padding-top: 5px;
}
.Avdcontent a
{
    color: #333333;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}
.support
{
    color: #222222;
    float: left;
    font-size: 9pt;
    width: 122px;
}
p
{
    text-align: justify;
}
.gtc
{
    border-collapse: collapse;
}
.gtc td
{
    border: 1px solid #CCCCCC;
    padding: 5px;
}
.input-text
{
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #C6C6C6;
    border-radius: 5px 5px 5px 5px;
    color: #9FA1A4;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: italic;
    height: 14px;
    margin-right: 3px;
    padding: 5px 10px 7px 8px;
    vertical-align: top;
    width: 165px;
}

.gtc .checked
{
    background-image: url('../assets/images/checked.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
}

.image
{
    border: 1px solid #CCCCCC;
    float: left;
    margin-right: 10px;
    width: 114px;
}
.adv
{
    margin-bottom: 20px;
}

.gadp
{
    background-color: #FFFFFF;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.gadp .sub
{
    background-color: #FFFF99;
}
.gadp td
{
    border: 1px solid #CCCCCC;
}
.new
{
    width: 100%;
    margin: 0 0 10px 0;
}
.new .strock
{
    border: 1px solid #ffffff;
    float: left;
    margin-right: 10px;
}
.new a
{
    font-weight: bold;
    font-size: 14;
    text-decoration: none;
    color: Black;
}
.new a:hover
{
    color: #6dbbbe;
    text-decoration: underline;
}
.new .date
{
    color: #999999;
    font-size: 8pt;
    padding: 3px 0;
}
.contact
{
    padding: 20px 70px;
}
